body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  margin-top: 20px;
}

.cc_requests, .cc_ondemand_content {
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  max-width: 400px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
